import { CSS } from '../../styles';

import * as S from './styles';

export type {{pascalCase name}}Props = {
  css?: CSS;
}

export const {{pascalCase name}} = ({ css, ...props }: {{pascalCase name}}Props): JSX.Element => (
  <S.Container css={css} {...props}>
    <h1>{{pascalCase name}}</h1>
  </S.Container>
);

{{pascalCase name}}.displayName = '{{pascalCase name}}';